aniso8601==7.0.0
backports.functools-lru-cache==1.5
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.2
Click==7.0
Flask==1.1.1
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
google-assistant-grpc==0.2.1
google-auth==1.6.3
google-auth-oauthlib==0.4.0
googleapis-common-protos==1.6.0
grpcio==1.23.0
idna==2.8
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==7.2.0
oauthlib==3.1.0
portend==2.5
protobuf==3.9.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
tempora==1.14.1
urllib3==1.25.3
Werkzeug==0.15.5
zc.lockfile==2.0
